*.dll
*.exe
.DS_Store
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor
.vagrant/
vendor/
*.backup
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.so
*.dll
t.*

dist
__pycache__
.pytest_cache
.python-version

# Coverage
coverage.txt

# Terraform
.terraform
.terraform.lock.hcl
*.tfplan
*.tfstate
