[submodule "terraform"]
	path = upstream/terraform
	url = https://github.com/hashicorp/terraform
	shallow = true
[submodule "go-plugin"]
	path = upstream/go-plugin
	url = https://github.com/hashicorp/go-plugin
	shallow = true
